{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero4.jpg' %});">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="breadcumb-content">
<h3 class="breadcumb-title">Downloads</h3>
</div>
</div>
</div>
</div>
</section>
<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">


  <div class="center-text">
  <h2>Refer below for downloadable content.(JEE)</h2><br><br>
  <h5>JEE All India Cutoff for 2017.  <a href="/static/AI 2017.pdf" download>Click here</a></h5>
  <h5>JEE All India Cutoff for 2018.  <a href="/static/AI 2018.pdf" download>Click here</a></h5>
  </div>
</div>

  <div class="col-sm-6">
    <h2>Refer below for downloadable content.(CET)</h2><br><br>
    <h5>CET Maharashtra Cutoff for 2016.<a href="/static/MH 2016.pdf" download>Click here</a></h5>
    <h5>CET Maharashtra Cutoff for 2017.<a href="/static/MH 2017.pdf" download>Click here</a></h5>
    <h5>CET Maharashtra Cutoff for 2018.<a href="/static/MH 2018.pdf" download>Click here</a></h5>

  </div>
</div>
</div>


<br><br><br>
<footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay" style="background-image: url(img/bg-img/cta.jpg);">





<div class="copywrite-text d-flex align-items-center justify-content-center">
<p>
Copyright &copy;<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Jatin,Jethwa,Jagda</a>

</div>
</footer>
{% endblock %}
