{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="preloader">
<div class="south-load"></div>
</div>
<style media="screen">
 .header {
    position: sticky;
    top: 90px;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  @media only screen and (max-width: 991px) {

  .header {
  top: 70px;
  }
}

  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }

  .progress-bar {
    height: 8px;
    background: #947054;
    width: 0%;
  }



</style>

<div class="header">

  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>
<section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/college1.jpg' %});">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="breadcumb-content">
<h3 class="breadcumb-title">Recommended Colleges</h3>
</div>
</div>
</div>
</div>
</section>

<div class="south-search-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="advanced-search-form">

<div class="search-title">
<p>Filter</p>
</div>



	<form action="{% url 'college:listing' %}" method="POST" id="advanceSearch">
	<div class="row">
	<div class="col-12 col-md-4 col-lg-3">
	<div class="form-group">
	<input type="input" class="form-control" name="name" placeholder="Keyword" value="{{ values.name }}">
  <input type="text" name="marks" class="form-control" placeholder="Marks" value="{{ values.marks }}">
	</div>
	</div>
	<div class="col-12 col-md-4 col-lg-3">
	<div class="form-group">

            <select name="location" class="form-control" id="catagories">
          	<option selected="true" disabled="disabled">Select location</option>
            {%for loc in location%}
            <option value="{{loc.location}}"
            {% if loc.location == values.location %}
            selected
            {% endif %}
            >{{loc.location}}</option>
            {%endfor%}

          	</select>

	</div>
	</div>
	<div class="col-12 col-md-4 col-lg-3">
	 <div class="form-group">
	<select name="caste" class="form-control" id="catagories">
	<option selected="true" disabled="disabled">Select Caste</option>
  {%for cas in caste%}
  <option value="{{cas.caste}}"
  {% if cas.caste == values.caste %}
  selected
  {% endif %}
  >{{cas.caste}}</option>
  {%endfor%}
	</select>
  <select name="field" class="form-control" id="catagories">
  <option selected="true" disabled="disabled">Engineering Field</option>
  {%for fie in field%}
	<option value="{{fie.field_name}}"
  {% if fie.field_name == values.field %}
  selected
  {% endif %}
  >{{fie.field_name}}</option>
  {%endfor%}
  </select>

	</div>
	</div>





	<div class="col-12 d-flex justify-content-between align-items-end">



	<div class="form-group mb-0">
  {% csrf_token %}
	<button type="submit" class="btn south-btn">Search</button>
	</div>
	</div>
	</div>
	</form>
</div>
</div>
</div>
</div>
</div>




<section class="listings-content-wrapper section-padding-100">
<div class="container">

{% if colleges %}
<div class="container">
<h5>  {{colleges.count}}
  <span> colleges recommended for you. (results)</span>
</h5>
</div>
{% else %}
<h5> 0 colleges found</h5>
{% endif %}
<br>
<div class="row">
<!-- colleges -->
{% if colleges %}
  {% for college in colleges %}
  <div class="col-12 col-md-6 col-xl-4">
  <div class="single-featured-property mb-50">

  <div class="property-thumb">
  <img src="{{ college.c.picsrc }}" alt="">
  </div>

  <div class="property-content">
  <h5><a href="{{ college.c_id }}">{{ college.c }}</a></h5>
  <p class="location"><img src="img/icons/location.png" alt="">{{ college.location_map }}</p>
  <p>{{ college.c.description|truncatechars:200 }}</p>
  <div class="property-meta-data d-flex align-items-end justify-content-between">


  <div class="garage">
  <span><b>Field: {{ college.f }}</b></span>
  </div>
  <div class="space">
  <span><b>Marks: {{college.marks }}</b></span>
  </div>
  </div>
  </div>
  </div>
  </div>
  {% endfor %}

{% else %}
<div class="">
  <p></p>
</div>

{% endif %}

<div class="row">

</div>
</section>
<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>

<footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay" style="background-image: url(img/bg-img/cta.jpg);">


<div class="copywrite-text d-flex align-items-center justify-content-center">
<p>
Copyright &copy;<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Jatin,Jethwa,Jagda</a>

</div>
</footer>
{% endblock %}
