{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/college1.jpg' %});">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="breadcumb-content">
<h3 class="breadcumb-title">About us</h3>
</div>
</div>
</div>
</div>
</section>





<section class="about-content-wrapper section-padding-100">
<div class="container">
<div class="row">
<div class="col-12">
<div class="section-heading wow fadeInUp" data-wow-delay="250ms">
<h2>Introduction to the Project</h2>
<p>Engineering College Recommendation</p>
</div>
<div class="about-content col-md-12">

<p class="wow fadeInUp" data-wow-delay="450ms">


</p>
</div>
</div>

</div>
</div>
</section>

<section class="meet-the-team-area section-padding-100-0">
<div class="container">
<div class="row">
<div class="col-12">
<div class="section-heading">
<h2>Meet The Team</h2>
 <p>That made this project possible.</p>
  <img class="wow fadeInUp" data-wow-delay="350ms" src="{% static 'img/bg-img/group.jpg' %}" alt="">
</div>
</div>
</div>
</section>



<footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay" style="background-image: url(img/bg-img/cta.jpg);">


<div class="copywrite-text d-flex align-items-center justify-content-center">
<p>
Copyright &copy;<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Jatin,Jethwa,Jagda</a>

</div>
</footer>
{% endblock %}
